.Navbar-top {
    width: 100%;
}

@media (min-width: 700px) {
    .Nav-top {
        width: 100%;
    }
    .login {
        position: absolute;
        right: 7px;
        top: 7px;
    }
}

@media (max-width: 700px) {
    .login {
        justify-content: center;
        align-items: center;
    }
}